@font-face {
  font-family: "Tempus_Sans_ITC";
  src: url("../assets/global/TEMPSITC.TTF") format("truetype");
  font-weight: normal;
  font-style: normal; }
.footer {
  background-color: #2E0033;
  text-align: center;
  display: flex;
  flex-direction: column; }

.footer-img {
  display: flex;
  align-self: center; }

.footer-sm {
  color: #FFFAFF;
  opacity: 0.75; }
  .footer-sm a {
    color: #FFFAFF;
    text-decoration: underline; }

.navbar {
  background-color: #2E0033;
  display: flex;
  flex-direction: column; }
  .navbar .navbar-brand {
    margin-right: auto;
    margin-left: auto;
    font-weight: bolder;
    font-size: 2rem;
    color: #FFFAFF; }
    .navbar .navbar-brand:hover {
      color: #FFFAFF; }

.navbar-links {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
  padding: 0; }

.nav-link > a {
  color: #FFFAFF;
  transition: 0.2s ease-in-out;
  display: block; }
  .nav-link > a:hover {
    transform: scale(1.05); }

body {
  font-family: "Tempus_Sans_ITC"; }

.button {
  padding: 10px 15px;
  border-radius: 10px;
  -webkit-appearance: none;
  background-color: #2E0033;
  margin: 10px;
  color: #FFFAFF;
  font-size: 2rem;
  transition: 0.2s ease-in-out;
  display: inline-block; }
  .button:hover {
    color: #FFFAFF;
    text-decoration: none;
    transform: scale(1.05); }

.parallax-container {
  /* The image used */
  background-image: url(../assets/home/header.jpg);
  /* Set a specific height */
  height: 90vh;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.about-parallax {
  /* The image used */
  background-image: url(../assets/about/IMG_4742.jpg);
  /* Set a specific height */
  height: 50vh;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.galllery-pic {
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #2E0033; }

.aboutus {
  background-color: #FFFAFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px; }
  .aboutus .text {
    max-width: 500px; }

.header-parent {
  display: flex;
  width: 100%;
  height: 90vh;
  flex-direction: row; }

.header-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  filter: drop-shadow(0 0 50px black); }

.header-text {
  text-align: center;
  color: #FFFAFF;
  text-shadow: 0 0 30px black, 0 0 30px black, 0 0 30px black, 0 0 20px black;
  max-width: 70%;
  margin: auto; }
  .header-text h1 {
    font-size: 3.5rem;
    font-weight: 500; }

.header-btns {
  text-align: center; }

.gallery {
  height: auto;
  width: 100%;
  box-shadow: inset 0 0 15px #000;
  background-image: url(../assets/home/gallery-background.jpg);
  padding-bottom: 25px; }
  .gallery .gallery-hdr {
    color: #2E0033;
    margin: 0;
    padding: 50px;
    font-size: 2.5rem;
    font-weight: bold; }

.gallery-pics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .gallery-pics .gallery-pic-frame {
    margin: 25px;
    align-self: center; }
    .gallery-pics .gallery-pic-frame .galllery-pic {
      transition: 0.2s ease-in-out; }
      .gallery-pics .gallery-pic-frame .galllery-pic:hover {
        transform: scale(1.1); }

/*# sourceMappingURL=main.css.map */
