.footer
  background-color: $brand-dark
  text-align: center
  display: flex
  flex-direction: column

.footer-img
  display: flex
  align-self: center

.footer-sm
  color: $brand-white
  opacity: 0.75
  a
    color: $brand-white
    text-decoration: underline
