.navbar
  background-color: $brand-white
  display: flex
  flex-direction: column
  .navbar-brand
    margin-right: auto
    margin-left: auto
    font-weight: bolder
    font-size: 2rem
    color: $brand-dark

.navbar-links
  display: flex
  flex-direction: row
  text-align: center
  margin: auto
  padding: 0

.nav-link>a
  color: $brand-dark
